extends layout

block content
  - var image_names = ['image1', 'image2', 'image3', 'image4', 'image5']
  - var height = 200
  - var width = 200
  - var displayedImages = []
  while displayedImages.length < 3
    - var randomIndex = Math.floor(Math.random() * 5)
    - var randomImage = image_names[randomIndex]
    - if (!displayedImages.includes(randomImage))
      - displayedImages.push(randomImage)
      img(
        src=`/images/${randomImage}.jpg`,
        alt=`${randomImage}`,
        height=height,
        width=width
      )
